/* Soluzione qui */
@media screen and (min-width: 768px) {
    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 2rem;
    }

    .social-networks button {
        flex-grow: 1;
    }

    .ads {
        display: block;
    }

    .presentation img {
        margin-inline: none;
        float: left;
        margin-right: 10px;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
        flex-basis: calc(100% / 3);
    }
}

@media screen and (min-width : 992px) {
    .recipe-name {
        font-size: 2.5rem;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        flex-grow: 1;
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
        text-align: initial;
        align-items: center;
    }
}